/*
Description: Used to style the Plugin pages.
*/
html{padding-top:50px;margin: 0}
.clearfix{clear: both;}
.floatleft {float: left;}
.floatright{float:right;}
#cartBar{position: fixed;top: 0px;z-index: 999999;border-bottom: 1px solid #999;width: 100%;background: #fff;padding:7px 15px;font-size:14px;height:50px;}
#cartBar a{color:#000;font-weight: 600;text-decoration: none;cursor: pointer;}
#cartBar a:hover{color:#666;}
.cart-bar-hide {
    margin-top: 8px;
}
.cart-logo img {
    width: 80%;
}
span.dashicons.dashicons-no-alt, .close {
    border: 1px solid #989797;
    padding: 0px;
    border-radius: 4px;
    font-size: 12px;
}
.text-right{text-align: right;}
#show-cart-bar{position: fixed;z-index: 9999;top:0px;left:50px;}
#show-cart-bar img{width: 30px;}
.show-icon{width:50px;background: #fff;padding:0 5px 5px;cursor: pointer;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border:1px solid #666;text-align: center;}
.wd50p{width:50%;}
.cart-logo{width:170px;padding:0 10px;}
.cart-bar-hide{width:170px;padding:0 10px;}
.close{/*background: url(../images/icon_close.png) no-repeat center center transparent;display: inline-block; width: 14px;height: 14px;background-size: cover;*/}
.cart-icon{background: url(../images/shopping-cart.svg) no-repeat center center transparent;display: inline-block; width: 14px;height: 14px;background-size: cover; margin-right: 5px;}


.button_example{
border:1px solid #fe5722; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 5px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 7px 10px 4px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #fe5722;
}
#cartBar a.button_example{color:#fff !important;}
.button_example:hover{
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}

.all-theme-text{
	font-size: 18px;
	font-weight: bold;
}

.pricebox{
	font-size: 20px;
	font-weight: bold;
	color:#fff;
	background: #000;
	padding: 5px 10px;
	margin: 0 10px;
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.pd-0{
    padding-right:0;
    padding-left:0;
}


 @media screen and (min-width: 320px) and (max-width: 992px){

    .cart-bar-hide{
        display: none;
    }
    .all-theme-text{
            display: none;
    }
    .button_example{
        font-size: 10px;
    }
 }

  @media screen and (min-width: 320px) and (max-width:767px){
    .text-right {
        text-align: right;
        position: absolute;
        right: 0;
    }
  }